svg {
    background-color: azure;
}
rect{
    fill:white;
}

rect.bar {
    stroke: none;
    fill: #4E79A7;
}

body,
textarea {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

body {
    margin: 5px;
    padding: 0px;

    background-color: whitesmoke;
}

svg {
    /* bl.ocks.org defaults to 960px x 500px space */
    /* account for margin in final width/height */
    width: 950px;
    height: 490px;
}

textarea {
    font-size: 11pt;

    /* position this on top of the svg */
    position: fixed;
    top: 5px;
    left: 5px;

    margin: 0px;
    padding: 5px;

    width: 400px;
    height: 75px;

    border: 1px solid gainsboro;
    border-radius: 10px;

    /* try changing the color in the block editor! */
    background-color: rgba(255, 255, 255, 0.8);
}

/*
 * we will style both html elements and svg elements in css,
 * but how we style them is a little different. make sure you
 * understand the difference between an id and class in css too!
 */

#bounds {
    fill: white;

    /* use stroke, not border, for svg elements */
    stroke: #bbbbbb;
    stroke-width: 1px;
}

rect.bar {
    stroke: none;
    fill: #4E79A7;
}

#x-axis text,
#y-axis text {
    font-size: 10pt;
}

/*!* path: axis line, line: tick marks *!*/

#x-axis line {
    fill: none;
    stroke: none;
}

#x-axis path,
#y-axis path,
#y-axis line {
    fill: none;

    /* use stroke, not border, for svg elements */
    stroke: #bbbbbb;
    stroke-width: 1px;
}

path {
    stroke: none;
    fill: #4E79A7;
}

.line {
    fill: none;
    stroke: steelblue;
    stroke-width: 2px;
}

.line-chart
{
    border: 1px solid lightgray;
}

.axis--x path {
    display: none;
}

.img-with-text {
    text-align: justify;
    width: 900px;
}

.img-with-text img {
    display: block;
    margin: 0 auto;
}

.img-with-text p {
    padding-bottom: 30px;
}